EULER_GRAPH_ENDPOINT =
  "https://api.thegraph.com/subgraphs/name/euler-xyz/euler-mainnet"
NOTIFICATION_AUTHKEY
APN_KEY_ID
APN_TEAM_ID
DB_USER="user"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="yacht_db"
EULER_SIMPLE_LENS="0x5077B7642abF198b4a5b7C4BdCE4f03016C7089C"
MAINNET_PROVIDER_URL